<launch>
  <node type="hokuyo_node" pkg="hokuyo_node" name="hokuyo_node"/>
  <node pkg="laser3d" type="bin_motor_state_pub" name="motor_tf_pub"/>

  <!-- start rviz -->
  <node pkg="rviz" type="rviz" name="my_rviz" args="-d $(find laser3d)/config/laser.rviz"/>

  <node type="point_cloud_assembler" pkg="laser_assembler" name="my_assembler">
    <remap from="cloud" to="my_cloud_in"/>
    <param name="max_clouds" type="int" value="400" /> 
    <param name="fixed_frame" type="string" value="base_link" />
  </node>

</launch>
